<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Dashboard</li>
            <li class="nav-item"><a class="nav-link" href="{{ path('dashboard') }}"><i class="nav-icon icon-speedometer"></i> Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('users') }}"><i class="nav-icon icon-people"></i> Usuarios</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('projects') }}"><i class="nav-icon icon-layers"></i> Proyectos</a></li>
        </ul>
    </nav>
</div>
